<section>
  <div class="container">
    <ul class="row no-list">
      <li class="col-4">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://dummyimage.com/400x200/000000/fff.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"></h5>
            <div class="row">
              <div class="col-7">
                <p class="card-text">Some quick example text to build on the card title .</p>
              </div>
              <div class="col-5 text-right">Rs. 500</div>
            </div>
          </div>
        </div>
      </li>
      <li class="col-4">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://dummyimage.com/400x200/000000/fff.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <div class="row">
              <div class="col-7">
                <p class="card-text">Some quick example text to build on the card title .</p>
              </div>
              <div class="col-5 text-right">Rs. 500</div>
            </div>
          </div>
        </div>
      </li>
      <li class="col-4">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://dummyimage.com/400x200/000000/fff.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <div class="row">
              <div class="col-7">
                <p class="card-text">Some quick example text to build on the card title .</p>
              </div>
              <div class="col-5 text-right">Rs. 500</div>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <div class="btn-container text-center">
      <a href="#" class="btn btn-danger">View more</a>
    </div>
  </div>
</section>